.main-text {
    width: 138px;
    height: 55px;
    margin: 34px 140px 0 140px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 25px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #14171a;
}

.head-text {
    width: 130px;
    height: 43px;
    margin: 0 0 0 23px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #14171a;
    float: left;
}

.location-div {
    width: 110px;
    height: 23px;
    margin: 5px 120px 58px 30px;
    border-radius: 35px;
    border: solid 1px #707070;
    background-color: rgba(29, 161, 242, 0.21);
    float: left;
}

.location-text {
    width: 82px;
    height: 33px;
    margin: 55px 10px 0 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #14171a;
}

.location-option1 {
    width: 45%;
    height: 160px;
    margin: 48px 0 0 12.5px;
    /* padding: 62px 30px 55px; */
    border-radius: 39px;
    border: solid 1px #707070;
    background-color: rgba(29, 161, 242, 0.21);
    float: left;
    cursor: pointer;
}

.location-option2 {
    width: 45%;
    height: 160px;
    margin: 48px 5px 0 10px;
    /* padding: 62px 30px 55px; */
    border-radius: 39px;
    border: solid 1px #707070;
    background-color: rgba(193, 53, 132, 0.37);
    float: left;
    cursor: pointer;
}

.location-option-text {
    width: 115px;
    height: 43px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #14171a;
    padding: 25px;
    margin: 20px 30px 60px 30px;
}

.location-self-current-location-head-text {
    width: 80px;
    height: 43px;
    margin: 4px 6px 0px 40px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #14171a;
    float: left;
}

.location-self-current-location {
    width: 110px;
    height: 23px;
    margin: 10px 25px 0 16px;
    border-radius: 35px;
    border: solid 1px #707070;
    background-color: rgba(29, 161, 242, 0.21);
    float: left;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 15px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}

.unvisible-divider {
    width: 428px;
    height: 1px;
    margin: 0px 0 8px;
    background-color: #f5f8fa;
}

.save-btn {
    width: 35%;
    height: 38px;
    margin: 13px 8px 14px 51px;
    /* padding: 10px 48px 9px 52px; */
    border-radius: 42px;
    border: solid 1px #707070;
    background-color: rgba(29, 161, 242, 0.21);
    float: left;
    display: flex;
}

.cancel-btn {
    width: 35%;
    height: 38px;
    margin: 13px 51px 14px 8px;
    /* padding: 10px 62px 9px 65px; */
    border-radius: 42px;
    border: solid 1px #707070;
    background-color: rgba(214, 84, 114, 0.25);
    float: left;
    display: flex;
}

.btn-text {
    width: 60px;
    height: 19px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #14171a;
    margin: 5px 45px 10px 45px;
    vertical-align: middle;
}

.search-btn {
    width: 66px;
    height: 34px;
    margin: 5px 0 0 0;
    border-radius: 17px;
    border: solid 1px #707070;
    background-color: rgba(193, 53, 132, 0.37);
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
}


/* .search-btn-text {
    width: 35px;
    height: 24px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #14171a;
} */

.map {
    width: 356px;
    height: 351px;
    margin: 29px 36px 0 36px;
    border: solid 1px #707070;
}